<div (click)="handleClickLeft($event)" (contextmenu)="$event.preventDefault()" class="ng-star-inserted">
    <div class="grid my-3">
        <div class="col-12">
            <div class="px-6 pt-6 pb-0 card">
                <div class="mb-3 border-1 border-round flex flex-row col-12 align-items-center h-3rem">
                    <i (click)="onBack()" style="font-size: 1rem" class="pi pi-arrow-up mr-2 fw-bold"></i>
                    <span (click)="redirect('')" class="text-xl fw-bold cursor-pointer">Images</span>
                    <ng-container *ngFor="let value of path; let i = index">
                        <i style="font-size: 1rem" class="pi pi-angle-right"></i>
                        <span (click)="redirect(i)" class="text-xl fw-bold cursor-pointer">{{ value }}</span>
                    </ng-container>
                </div>
                <div style="min-height: 195px" (contextmenu)="onClickContent($event)" class="grid mt-3 pb-6" #content>
                    <div class="col-12 md:col-4 lg:col-2" *ngFor="let item of folderData | async">
                        <div class="folder-group overflow-hidden">
                            <img (click)="onOpenFolder(basename(item))" (contextmenu)="itemTarget = item"
                                 class="h-10rem width-full object-fit-cover"
                                 [src]="(item.includes('.') ? api+item : 'assets/folder.png')" [alt]="basename(item)">
                            <p (keydown.enter)="false" (keyup.enter)="onRename($event, item)"
                               (blur)="onRename($event, item)" (focus)="closeAllMenu()" [contentEditable]="true"
                               class="text-center text-xl fw-bold">{{ basename(item) }}</p>
                        </div>
                    </div>
                    <p-menu [ngStyle]="{position: 'fixed',top: positionY+'px', left: positionX+'px'}"
                            *ngIf="menuTargetContent" [model]="optionMenuTargetContent"></p-menu>
                    <p-menu [ngStyle]="{position: 'fixed',top: positionY+'px', left: positionX+'px'}"
                            *ngIf="menuTargetItem" [model]="optionMenuTargetItem"></p-menu>
                    <p-fileUpload class="w-full" *ngIf="uploadImageDialog" name="images[]"
                                  [url]="api+'admin/uploadImages?path='+pathUrl" (onUpload)="onUpload($event)"
                                  [multiple]="true" accept="image/*" maxFileSize="3000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </div>
        </div>
    </div>
</div>
